* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

body,
html {
    width: 100vw;
    height: 100vh;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

.box-shadow {
    -webkit-box-shadow: -2px 7px 22px -1px rgba(184, 178, 184, 1);
    -moz-box-shadow: -2px 7px 22px -1px rgba(184, 178, 184, 1);
    box-shadow: -2px 7px 22px -1px rgba(184, 178, 184, 1)
}

.main-container-grid {
    display: grid;
    grid-template-rows: 1fr 13fr 1fr;
    height: 100%;
    grid-row-gap: 1em;
}

.r1,
.r3 {
    display: grid;
    background-color: #CCC;
    padding: 1em;
    align-items: center;
}

.r3 {
    text-align: center;
}

.r2 {
    height: 100%;
    background-color: #f1f1f1;
}

/* this is a one column page  */
.one-column {
    display: grid;
    background-color:#f1f1f1;
    grid-column-gap: 1em;
}

.contact-form {
    width: 500px;
    height: 500px;
    margin: 100px auto;
}

.contact-input {
    width: 91%;
    padding: 15px;
    margin: 5px;
}

.submit-button {
    padding: 10px 25px;
    background-color: #CCC;
    float: right;
    margin-top: 12px;
}

.error-message {
    color: red;
    display: block;
    margin-top: 5px;
    padding: 7px;
    display: none;
}